<div class="row {{#if selected}}selected{{/if}} entry" data-cid="{{cid}}">
    <div class="col-xs-1">
        {{index}}
    </div>
    <div class="col-xs-4 name">
        {{name}}
    </div>
    <div class="col-xs-3 chance-of-loss text-right number">
        {{formatPercent failure_percent}}
    </div>
    <div class="col-xs-3 average-after-five text-right number">
        {{formatCurrency average_returns}}
    </div>
</div>
